/* TAG SELECTORS */
body {
  background-color: grey;
}

h1 {
  color: red;
  font-size: 66px;
}

img {
  background-color: red;
}

/* CLASS SELECTORS */
.bacon {
  background-color: green;
}

.heading {
  color: blue;
}
